@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* My solution */

/* * {
  border: 2px solid red;
} */

body {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

button {
  padding: 8px 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(78, 78, 78);
}

.header, 
.content, 
.footer {
  display: flex;
}

.header {
  justify-content: space-between;
  padding: 10px;
}

.header .left-links {
  display: flex;
  gap: 15px;
}

.header .right-links {
  display: flex;
  gap: 15px;
}

.content {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  justify-content: space-between;
  padding: 10px;
  background-color: lightgray;
}

.footer .left-links {
  display: flex;
  gap: 15px;
}

.footer .right-links {
  display: flex;
  gap: 15px;
}